[2015-10-01 06:50] janodvarko opened #1 "Use proper icon"
WebSocket Monitor should use proper icon for:
* the extension itself
* the Toolbox panel

Should be the same icons supporting the following sizes:
16x16
32x32

Honza

[2015-10-01 08:12] janodvarko opened #2 "Support for frame filter"
The user should be able to filter content of the WebSockets panel using a simple keyword.

Honza

[2015-10-01 08:14] janodvarko opened #3 "Limit amount of displayed frames"
Introduce a limit for number of displayed frames. If the limit is reached the oldest frame should be removed.

Honza

[2015-10-02 06:35] janodvarko opened #4 "Clear also side panels"
Make sure the clear also side panels when the 'Clear' button is pressed.

Honza

[2015-10-02 08:56] #3 closed

[2015-10-02 08:56] #2 closed

[2015-10-02 09:38] janodvarko opened #5 "Inline previews for payload"
If the payload data can be parsed they could be displayed in a form of an expandable tree inline within the frame table.

Honza

[2015-10-02 11:47] janodvarko opened #6 "Display summary info"
The list of frames should display summary info at the bottom

* total number of requests
* total payload size
* total time (since the first request to the last one)

Honza

[2015-10-02 11:48] #6 closed

[2015-10-02 13:19] janodvarko opened #7 "Displaying a warning if nsIWebSocketFrameService is not available"
It's currently confusing if the monitor runs on Firefox with no support for  nsIWebSocketFrameService not available. There should be a simple warning that informs the user why it doesn't work.

Honza

[2015-10-02 15:12] #7 closed

[2015-10-06 10:06] janodvarko opened #8 "Support auto-scroll at the bottom"
When following constant stream of frames it's useful to have the panel always scrolled at the bottom to see the last incoming packet.

Honza

[2015-10-06 10:08] janodvarko opened #9 "Pause and unpause"
It should be possible to pause and unpause the incoming stream of frames, so the user can focus on particular frame in the list without being distracted by constant panel content scrolling.

Honza

[2015-10-06 10:11] janodvarko opened #10 "Support for chat UI"
The other option how to display a list of frames is using "chat" kind of UI. Just like the RDP Inspector does.

See a screenshot here:
https://github.com/firebug/rdp-inspector/wiki

Switching between tabular and chat view could be done through an option displayed in the tab-menu, but it's only available in Firebug theme.

Honza

[2015-10-06 15:37] janodvarko opened #11 "Docs for contributors"
To make it easier for contributors we need a doc that describes how to get and run the extension.
Honza

[2015-10-07 11:34] janodvarko commented on #10
https://github.com/firebug/websocket-monitor/commit/c882f016d99827ced30e3d8124e5d6d624ade46c
https://github.com/firebug/websocket-monitor/commit/272078f1ba84995f7b2e09cacaa12551fdbd44e6
https://github.com/firebug/websocket-monitor/commit/65921ae5cd3a474121575933a52a75a14fb3c8ea
https://github.com/firebug/websocket-monitor/commit/6aed4655e047bb3a602877e67ee4528a7d08cd50
https://github.com/firebug/w

[2015-10-07 11:34] #10 closed

[2015-10-07 11:44] #11 closed

[2015-10-07 13:06] janodvarko opened #12 "Easy navigation from the Network panel"
HTTP requests that initiate WS connections (upgrade) should have a little icon that can be used (clicked) to navigate the user into the WebSockets panel.

Honza

[2015-10-08 10:16] #4 closed

[2015-10-08 14:55] janodvarko commented on #8
Yet the list view doesn't work from some reason.

Honza

[2015-10-12 11:17] janodvarko commented on #1
New icon for the extension itself:
https://github.com/firebug/websocket-monitor/commit/d9c06e0b1889bc23498b4aeac2ee803f71703aba

Honza

[2015-10-12 11:18] #1 closed

[2015-10-12 11:19] janodvarko commented on #12
Waiting for platform support:
https://bugzilla.mozilla.org/show_bug.cgi?id=1203802#c61

Honza

[2015-10-13 12:55] #12 closed

[2015-10-13 14:41] janodvarko opened #15 "WS network panel filter"
In order to find new HTTP websockets upgrade requests, there should be a new filter.

Honza

[2015-10-14 11:18] fflorent opened #16 "Vertical and horizontal scrollbar not displayed in the lateral panel"
STR :
1. Open the lateral panel with the details of a WS
2. Press Esc to open the split console
3. Expand the height of the console so a scrollbar should appear

Actual result : There is no scrollbar in the lateral panel.

Florent

[2015-10-14 11:22] janodvarko commented on #16
I can see a scrollbar, see my screenshot...
Or should I look somewhere else?

Honza

![scrollbar](https://cloud.githubusercontent.com/assets/37785/10482196/93682b2c-7276-11e5-9da2-c117b0b725a9.png)

[2015-10-14 11:25] fflorent commented on #16
Yep, you have them. It looks like a specific issue with the Linux theme. I'll take a screenshot once at home.

Florent

[2015-10-14 11:44] fflorent opened #17 "Proposal for the arrows indicating whether the message comes from the Client or the Server"
Currently, there is an arrow that indicates the origin of a message (the client or the server). Here is a message coming from the server :
![selection_054](https://cloud.githubusercontent.com/assets/371705/10482545/321fed70-7279-11e5-8b86-31de041fcccb.png)

What about making an arrow going downward for a message coming from the server, and an arrow going upward for a message going to the latter ?

[2015-10-14 11:56] janodvarko commented on #16
This commit should fix that.
Please let me know if it helps.

Honza

[2015-10-14 12:04] janodvarko opened #18 "Support for SockJS"
We could have a support for SockJS protocol
https://github.com/sockjs

Honza

[2015-10-14 12:10] janodvarko commented on #18
We can put the support into the add-on for now, but, we should learn and think about API we'll eventually offer for other protocols (add-ons).

It would be great to use the official parser NPM module from sockjs repo.

Honza

[2015-10-14 13:11] janodvarko commented on #17
The UI/UX concept we've been using for displaying the list of frames (and also RDP packets in the RDP Inspector) is based on 'user-chat-ui'. Chat UIs (like What'sApp, Skype, etc.) are displaying incoming messages on the left and sent messages on the right.
We used the same approach in the list-view perspective: received frames on the left and sent frames on the right. To be inline with the idea, w

[2015-10-15 12:09] fflorent commented on #16
Have checked that right know and that works like a charm. I close the issue.

Florent

[2015-10-15 12:09] #16 closed

[2015-10-15 14:42] janodvarko commented on #16
Cool, thanks for the update.
Honza

[2015-10-17 16:53] fflorent commented on #18
@janodvarko What do you think?

If you want to test:
- clone this repo: https://github.com/sockjs/sockjs-node.git
- in examples/echo, run : `npm install`
- apply the patch below in order to be able to close a connection (by entering `close` in the echo chat)
- run: `node server.js`
- open: http://localhost:9999

[code]

Resources:
- The code of the parsing: https://github.com/sockjs/sockjs-client/

[2015-10-17 18:35] fflorent commented on #18
NB: there is no parser NPM module... But the algorithm is quite simple.

Florent

[2015-10-17 18:36] fflorent opened #19 "Support for "raw" JSON"
Similarly to issue #18, we could add support for "raw" JSON.

Florent

[2015-10-17 19:08] fflorent commented on #19
Use case: some sites just exchange with the server using "raw" JSON messages.

Test case:
1. Go to : http://rumpetroll.com/
2. Open the WebSocket monitor
3. Move the mouse on the screen
   => you should see some frames appearing in the WebSocket panel
4. Open a frame. The JSON tab should appear and offer a tree view.

Note that the above commit depends on #18.

Florent

[2015-10-17 21:28] fflorent commented on #17
In the chat UIs, the context is a bit different. The users know what they type, so it's quite natural to determine what message is incoming / outgoing.

In this particular context, the user inspects the outgoing messages as well as the incoming ones, so they might not know what are the outgoing messages.

Maybe we could wait for feedback on this issue.

Florent

[2015-10-17 21:36] fflorent opened #21 "Implement "modify and resend""
Like in the Network panel, the "modify and resend" feature would be quite useful in order to interact with the server directly (and to debug it). The feature would be available for the outgoing messages only.

Florent

[2015-10-17 21:41] fflorent opened #22 "Implement "modify and fake answer""
Like #21, it would be nice to fake an answer in order to test the behavior of the application on certain incoming messages.

Florent

[2015-10-18 14:30] fflorent commented on #9
@janodvarko What do you think?

Note that I took the liberty to change some of your code. Please tell me if these are fine.

Florent

[2015-10-18 20:11] fflorent opened #24 "No context menu"
If you go anywhere in the WebSocket panel (being the frames rows, or the details/payload side-panels), when you right-click on some selections, no context menu appears.

Florent

[2015-10-18 21:02] fflorent commented on #8
Looks like the bubbles are not fully rendered when doing your trick. If you place a breakpoint in `componentDidUpdate`, trigger an update of your view and step over until you reach the end of the function, you'll see your bubble appears be partially rendered. For example, you miss the rendering of the Frame Reps.
- While in `componentDidUpdate`
  ![While in componentDidUpdate](https://cloud.github

[2015-10-19 14:01] janodvarko commented on #8
Thanks for the analyses, I found better solution.
But, I would still be interested to know why the tree is rendered after didmount..

Anyway, it should work now, can you please try it on your machine?

Honza

[2015-10-19 14:01] #8 closed

[2015-10-19 14:29] janodvarko commented on #9
Looks great!

The only thing I have is that new frames should _not_ be collected when the monitor is paused. We might want to collect some summary info like number of missed frames total payload, etc. but not the frames.

The summary info should be displayed in the UI as well so, it's clear where exactly the pause happened (as an extra visually different table row, or a bubble in case of the list

[2015-10-19 18:09] fflorent commented on #9
Thanks for the feedback.

Right. May I ask why? As a user, I would personally rather expect the pause button to stop updating the list in the view until I unpause.

Florent

[2015-10-19 18:34] janodvarko commented on #9
I am mainly worried about memory consumption and performance. The main first use case is that the user can use the button to stop updating/scrolling the content. And when the monitor is paused, the expectation is that it doesn't consume memory and doesn't slow down the browser (and listening to the frame service have an impact on performance). So, the second use case is that it _is_ actually possi

[2015-10-19 19:04] fflorent commented on #9
I see. Let me try something then.

Florent

[2015-10-19 19:16] #18 closed

[2015-10-19 19:16] #19 closed

[2015-10-21 13:36] janodvarko commented on #9
@fflorent:

Here is an info about content -> chrome message channel.

1) Use PanelView.postChromeMessage to send a message from the content to the chrome.
Instance of PanelView is in data/main.js -> WebSocketsView

[code]

2) Handle in the panel, WsmPanel.onContentMessage()
See the default implementation in PanelBase object (panel-base.js in FBSDK), it calls a method on the panel instance with the

[2015-10-21 14:13] fflorent commented on #9
Thanks Honza,

The main difficulty now is to communicate between the [Application](https://github.com/firebug/websocket-monitor/blob/master/data/containers/app.js) and the [main class of the view](https://github.com/firebug/websocket-monitor/blob/master/data/main.js) in order to notify the user action.

I think of using the [event lib](https://www.npmjs.com/package/events) in order to do that. Wha

[2015-10-21 15:16] janodvarko opened #25 "Adopt platform changes - Bug 1215092"
Bug 1215092 - WebSocketFrameService should be used for WebSocket discovering
https://bugzilla.mozilla.org/show_bug.cgi?id=1215092

Honza

[2015-10-21 15:19] janodvarko commented on #25
Just a note for me (IRC discussion with :baku):

[17:14] baku    1. WebSocketService has been renamed. you should use the new name:  Cc["@mozilla.org/websocket/service;1"].getService(Ci.nsIWebSocketService);
[17:14] baku    2. WebSocketFrameListener now is called WebSocketProxy
[17:15] baku    3. you must implement: webSocketCreated/webSocketOpened/webSocketClosed/frameReceived/frameSent
[17:15] b

[2015-10-21 15:48] janodvarko commented on #25
Try build:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=350fe368077e
https://ftp-ssl.mozilla.org/pub/mozilla.org/firefox/try-builds/jodvarko@mozilla.com-350fe368077e

[2015-10-21 15:54] janodvarko commented on #9
No no, you should do it through actions (Redux) or callbacks passed through component properties (ReactJS)

What exactly do you want to do?

Honza

[2015-10-22 16:32] janodvarko commented on #25
Try build:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=4d0d2070c463
https://ftp-ssl.mozilla.org/pub/mozilla.org/firefox/try-builds/jodvarko@mozilla.com-4d0d2070c463

Honza

[2015-10-26 19:06] benfoxall opened #26 "missing try build"
The "try build" link on the [releases](https://github.com/firebug/websocket-monitor/releases) page is [404'ing](http://ftp-ssl.mozilla.org/pub/firefox/try-builds/jodvarko@mozilla.com-f2f5f21abb6d/).

[2015-10-26 19:47] janodvarko commented on #26
Ah, I see, I pushed another request to the build server now, builds should be avaialble soon
https://ftp-ssl.mozilla.org/pub/mozilla.org/firefox/try-builds/jodvarko@mozilla.com-7871b7dff49f
Honza

[2015-10-26 20:15] benfoxall commented on #26
Thanks @janodvarko!

[2015-10-26 20:19] janodvarko commented on #26
Just for me, treeherder link:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=7871b7dff49f

Honza

[2015-10-27 01:32] janodvarko commented on #26
Pushing one more time:
https://treeherder.mozilla.org/#/jobs?repo=try&revision=69e9a3c36e7e

Once completed, builds and logs will be available at:
https://ftp-ssl.mozilla.org/pub/mozilla.org/firefox/try-builds/jodvarko@mozilla.com-69e9a3c36e7e

Honza

[2015-10-27 01:40] janodvarko commented on #26
@benfoxall does this build work for you?
https://ftp-ssl.mozilla.org/pub/firefox/try-builds/amarchesini@mozilla.com-7e726ee90098d0813f0078af282980118f8487f1/

Honza

[2015-10-27 10:15] benfoxall commented on #26
@janodvarko yup, that works fine (I'm using the osx build)

[2015-10-27 11:36] janodvarko commented on #26
@benfoxall great.

Btw. I'd love to have some feedback from you (missing features, better UI/UX, etc.)

Honza

[2015-10-27 11:46] janodvarko commented on #9
@fflorent Do you need any more help for this?

Note that WebSockets Monitor will be part of upcoming November DevEdition campaign and we should finish this issue it this week. Is that feasible?

Honza

[2015-10-27 12:12] benfoxall commented on #26
@janodvarko sure! That's been on [my list](https://github.com/benfoxall/benfoxall.github.com/issues/52) since @aliuk2012 was in touch about the project.  Looking forward to checking it out.

[2015-10-27 12:14] janodvarko commented on #26
Yes, he mentioned that, awesome!

Honza

[2015-10-27 12:27] janodvarko commented on #26
Required platform API just landed in Nightly and so, WebSockets Monitor can run with regular Nightly builds.

https://nightly.mozilla.org/

Honza

[2015-10-27 12:27] #26 closed

[2015-10-27 13:58] janodvarko opened #27 "Keyboard navigation for list of frames"
Support up and down keys for keyboard navigation in the frame list. Both perspectives (list view, table view) must be supported.

Honza

[2015-10-27 17:44] fflorent commented on #9
That should be.

Florent

[2015-10-27 21:01] fflorent commented on #9
I managed to use a property as a callback. Does it sound better now?

Florent

[2015-10-28 12:32] janodvarko commented on #9
Yes, I also put some comments in the revision.
Honza

[2015-10-29 14:37] janodvarko opened #28 "Display a link to the WebSockets panel in the Response side bar"
The response side bar in the Net panel should display a link to the WebSockets panel in case HTTP WS upgrade request is selected.

Honza

[2015-10-29 14:42] #28 closed

[2015-10-29 17:04] fflorent commented on #9
@janodvarko is it fine for you?

Florent

[2015-10-30 07:17] janodvarko commented on #9
@fflorent Looks good!

The platform API landed and they are included in Firefox 44 now. The extension is already working with the Nightly build and so, try builds are not necessary. It should be a lot easier to test it now.

DevEdition 44 is not yet out, but will be soon and I'd like to release WebSocket Monitor today, so it's ready for broader audience of web developer (using the DevEdition).

Ca

[2015-10-30 08:14] fflorent commented on #9
Alright, thanks for the feedback.

Please do. I don't have time to do it myself.

Florent

[2015-10-30 09:52] janodvarko commented on #9
Done

All seem to work nice, I'll release a new version today, it would be great if you can double check that the feature works as expected.

Honza

[2015-10-30 09:52] #9 closed

[2015-10-30 11:03] janodvarko opened #29 "Fix the dark theme on OSX"
![screen shot 2015-10-30 at 12 05 41](https://cloud.githubusercontent.com/assets/37785/10844205/28b3b974-7efe-11e5-9634-31f04d7f05ed.png)

[2015-10-30 12:11] janodvarko commented on #29
Fixed by https://github.com/firebug/websocket-monitor/commit/4832b268de46542c6ff1bb01ced9d31f1607ce58

Honza

[2015-10-30 12:11] #29 closed

[2015-10-30 12:35] fflorent commented on #27
Sounds like you fixed it, right? Or is there any further development to do?

Florent

[2015-10-30 12:37] janodvarko commented on #27
Yes, the panel should auto-scroll if the selection moves out of the visible viewport.

Honza

[2015-10-30 14:55] janodvarko commented on #27
Now it should be alright
Honza

[2015-10-30 14:55] #27 closed

[2015-11-02 07:20] #25 closed

[2015-11-20 14:01] janodvarko opened #30 "Filter according to WS connection ID"
It should be possible to filter the list of frames according to the WS connection ID.

We want to utilize the filter-box and introduce a prefix `#` that will be used to distinguish WS ID from playin text.

There should also be a popup window (just like in the Debugger panel) listing all options and teaching the user how to use it.

Honza

[2015-11-20 14:02] janodvarko commented on #15
See also #30

Honza

[2015-11-20 14:03] janodvarko opened #31 "API for extension implemeting new protocol parsers"
We should design a new API for extensions that implement new protocol parsers.

Honza

[2015-11-20 18:54] darkl opened #32 "WAMP support"
I think it could be cool to add [WAMP support](http://wamp-proto.org/), similarly to Socket.IO support and SockJS support.

WAMP is an open standard WebSocket subprotocol that provides messaging patterns of remote procedure calls and publish subscribe. WAMP has implementations in various languages and is becoming more popular.

I'd love to have support for this.

cc: @oberstet

[2015-11-20 20:06] esphen opened #33 "Some messages not picked up"
Hi Jan. Nice work with this extension, keep up the good work!

It seems websocket-monitor has issues with some messages. My company produces many pages that stream market data, and the first thing the client does after getting upgraded to WS is send a subscribe string with the data that component would like to receive. In my tests, this client does not pick up these subscribe strings at all.

Step

[2015-11-20 20:26] janodvarko commented on #33
Thanks for the report, I'll investigate it.

Jan (aka Honza)

[2015-11-20 20:46] oberstet commented on #32
Oh, cool! I agree, would be quite handy developing browser frontends in WAMP based apps.

Am 20.11.2015 7:54 nachm. schrieb Elad Zelingher notifications@github.com:

I think it could be cool to add WAMP supporthttp://wamp-proto.org/, similarly to Socket.IO support and SockJS support.

WAMP is an open standard WebSocket subprotocol that provides messaging patterns of remote procedure calls and publ

[2015-11-20 22:56] janodvarko commented on #32
Sounds good to me. Do you have an online page we could use as as a test case?

Honza

[2015-11-20 23:03] oberstet commented on #32
This one

https://demo.crossbar.io/editform/index.html

does perform calls and subscribes to events.

But it doesn't register procedures nor publishes events.

This one performs all 4 WAMP actions (call, register, publish, subscribe), but it's not available as a live demo right now I think.

https://github.com/crossbario/crossbarexamples/tree/master/hello/browser

Am 20.11.2015 11:56 nachm. schrie

[2015-11-21 01:10] oberstet commented on #32
We could also adapt https://github.com/crossbario/autobahn-js/tree/master/package/test which performs a lot of variants and options.

Am 20.11.2015 7:54 nachm. schrieb Elad Zelingher notifications@github.com:

I think it could be cool to add WAMP supporthttp://wamp-proto.org/, similarly to Socket.IO support and SockJS support.

WAMP is an open standard WebSocket subprotocol that provides messaging

[2015-11-21 17:38] eliihen commented on #21
Hey.

I had a look at this issue, but after creating the gui, I failed to figure out how to hook into an active web socket connection. We have a webSocketSerialID on a frame, but I find no API that lets us connect using this ID. If you have any suggestions on how one could do this, I'm all ears.

[2015-11-21 19:04] fflorent commented on #21
Actually, I don't even know if Firefox provides such an API, there might be some requirements to fulfill. @bakulf Is it already possible? Otherwise how hard would it be to implement that?

@esphen Also would you be interested in sharing your work in progress?

Florent

[2015-11-21 19:16] eliihen commented on #21
Of course, @fflorent. This is what I got so far: https://github.com/firebug/websocket-monitor/compare/master...esphen:issue21

It looks like this:
![screenshot from 2015-11-21 20-14-39](https://cloud.githubusercontent.com/assets/5845924/11320010/8c447830-908c-11e5-8130-54ac689bcfa4.png)

[2015-11-21 19:39] fflorent commented on #30
Not sure whether a prefix is worth here:
- the prefix already exists in the Debugger (which is BTW the only one that proposes prefixes) and is used for another purpose
- that would probably be the only option and would force us to implement a popup (as you mentioned)

How about a drop-down list, hidden if there are less than 2 connections? (assuming a large majority of webpages don't have many WS

[2015-11-21 19:56] fflorent commented on #21
Thanks @esphen and nice patch!

As this bug sounds to be blocked until we have a clear answer for your question, would you be interested in contributing on other issues? ([this one](https://github.com/firebug/websocket-monitor/issues/30) for example)

If so and when you need some assistance, don't hesitate to ping me on IRC if I can help (my nickname is fflorent on #firebug or #devtools ; server:

[2015-11-22 11:29] bakulf commented on #21
We don't have such functionality and I don't know if we really want to have it.
'modify and resend' for http request makes totally sense because they are somehow "state-less": a completely new request is sent, disconnected from the website logic. But resending a frame can break the logic of the website because, I guess, we want to use the same WebSocket object, that is alive somewhere and it could

[2015-11-23 13:42] janodvarko commented on #32
I couldn't find any docs describing WAMP message/action structure send  by WAMP subprotocol. Do you know about anything?

Currently, WebSocket monitor displays the payload (at least) as a simple JSON expandable tree (see the attached screenshot), but perhaps we could append some WAMP specific labels to the UI that make it easier to read the data and e.g. recognize type of the action (call, registe

[2015-11-23 14:07] janodvarko commented on #33
@bakulf: I've been trying the STR and it really looks like some WS messages are missing?
Could this be a problem with the platform API?

Honza

[2015-11-23 14:33] oberstet commented on #32
Cool!

Yeah, would be nice to expose WAMP traffic at a higher level: procedure calls and registrations, even publications and topic subscriptions, authenthication and generally session establishment. Please see here for the spec (incl. description of messages) https://tools.ietf.org/html/draft-oberstet-hybi-tavendo-wamp-02

Am 23.11.2015 2:42 nachm. schrieb Jan Odvarko notifications@github.com:

I

[2015-11-23 14:36] oberstet commented on #32
Besides decoding WAMP messages fields, here is what would be highly useful: correlate replies to requests at the WAMP msg level .. eg call and call result ..

Am 23.11.2015 2:42 nachm. schrieb Jan Odvarko notifications@github.com:

I couldn't find any docs describing WAMP message/action structure send by WAMP subprotocol. Do you know about anything?

Currently, WebSocket monitor displays the paylo

[2015-11-23 15:14] janodvarko commented on #30
@helenvholmes UI/UX question related to filtering DevTools panel's content.

There might be more WS connections on the page, all producing some traffic (WS frames received/sent). It should be possible to filter the list of frames according to WS ID (every frame has a fields specifying parent WS ID).

There are more options how to implement the UI/UX:

1) We already have an input box that is curren

[2015-11-23 15:29] janodvarko opened #35 "Clear frames when the page is reloaded"
All collected frames should be removed when the page is reloaded.

Honza

[2015-11-23 15:54] #35 closed

[2015-11-23 18:07] helenvholmes commented on #30
I am a bigger fan of your suggestion for number 2 since I think it is important that our search boxes act the same ([Bug 1225459](https://bugzilla.mozilla.org/show_bug.cgi?id=1225459)). If I'm understanding you correctly Honza, you're looking for a good way to have some sort of select menu with all of the socket connections next to the search box?

My first thought is that we could do exactly what

[2015-11-23 18:55] janodvarko opened #36 "Display connect and disconnect events in the frame list"
The user should see when WS connect and disconnect happened.

Honza

[2015-11-23 19:06] darkl commented on #32
@janodvarko,

For a start I generated a function that parses WAMP messages in Typescript (using my [meta-wamp](https://github.com/darkl/meta-wamp) project). The transpiled JavaScript is also included. See [here](https://gist.github.com/darkl/d761ab0e680b9722cb2c).

Hope this helps.
Elad

[2015-11-23 21:21] janodvarko commented on #30
Ok, good

A  contributor (@esphen) provided a patch that introduces a select menu (drop box) with list of all connections and is placed next to the search box. See, the following comment with a screenshot:
https://github.com/firebug/websocket-monitor/pull/34#issue-118229460

This is how the patch works:
1) The search box we have now works still the same (e.g. filters the list of frames, only frame

[2015-11-23 21:22] helenvholmes commented on #30
Yep, sounds good to me!

[2015-11-23 21:26] janodvarko commented on #30
Great, thanks.

@esphen: I'll take a look at your patch tomorrow

Honza

[2015-11-23 22:11] eliihen commented on #30
Awesome  :+1:

[2015-11-24 06:52] #36 closed

[2015-11-25 12:37] janodvarko commented on #32
Great! I've incorporated it into the code base.

Yes, I like that idea. Can you please create separate issue for this, thanks!

This issue should be fixed in version 0.4.3
https://github.com/firebug/websocket-monitor/releases

Honza

[2015-11-25 12:37] #32 closed

[2015-11-25 12:55] janodvarko opened #37 "Sign Add-on using "jpm sign" doesn't work?"
We want to sign future released XPIs using `jpm sign`.

Note for me:
https://groups.google.com/forum/#!topic/mozilla.dev.amo/OZz62cJwWCc

Honza

[2015-11-25 15:01] darkl commented on #32
Cool, thanks!

[2015-11-25 15:11] darkl opened #38 "Correlate WAMP messages"
Phase II: now we have decoded WAMP messages, we would like to see correlated messages together. We have some messages that are actually "request-response", some of those include

* SUBSCRIBE => SUBSCRIBED (by request parameter), ERROR (by type = SUBSCRIBE and request parameter)
* REGISTER => REGISTERED (by request parameter), ERROR (by type = REGISTER and request parameter)
* CALL => RESULT (by re

[2015-11-25 15:12] darkl commented on #38
@oberstet

[2015-11-25 15:16] janodvarko commented on #38
Great!

How would you expect the UI/UX to look like?

Honza

[2015-11-25 15:46] darkl commented on #38
I guess for request messages I'd like to have an additional response tab that displays the response. For response messages I'd like to have similarly an additional request tab that displays the request. A timing tab like the one we have for HTTP messages will be also awesome.

[2015-11-25 16:24] oberstet commented on #38
Yeah, that kind of correlating request/response exchanges would be highly useful!

Btw: one interaction is missing: INVOKE => YIELD (by request parameter), ERROR (by type = INVOKE and request parameter) .. essentially the callee role. As AutobahnJS supports running callees even in browser tabs, messages of type INVOKE and YIELD will be encountered.

[2015-11-25 16:27] darkl commented on #38
Yeah @oberstet is right, but note that INVOKE is a bit special since it is a router to client frame and in this case YIELD/ERROR are client to router frames.

Elad

[2015-11-25 16:30] darkl commented on #38
@oberstet, Also note that YIELD is more complicated since we have progressive calls so we might have more than one response to a request... I think work on INVOKE should be postponed to a later phase. (When we would also like to correlate EVENT messages to SUBSCRIBE/SUBSCRIBED messages)

[2015-11-25 16:34] darkl commented on #38
@oberstet Actually I regret my last message, since we have the same problem with CALL/RESULT. I guess in this phase we'll consider only single request/response message, we will assume no progressive calls.

Elad

[2015-11-25 16:45] oberstet commented on #38
Yeah, I think INVOKE/YIELD without progressive results (or progressive arguments) are no more complex than the other strict request-reply exchanges. Progressive results (or arguments) are one dimension of complexity. Correlating events with subscribes (and publishes), or calls with registers (and invocations) is another dimension of complexity - and it doesn't appear to work on a strict browser si

[2015-11-25 16:49] oberstet commented on #38
But I agree, there is a difference nevertheless: INVOKE comes in actively over the wire from a browser point of view. With CALL, REGISTER and SUBSCRIBE, the browser is the initiator of the request-reply exchange.

So the minimum scope could be: all strict request-response exchanges without progressive option, and with the browser being the request initiator.

[2015-11-26 10:18] janodvarko opened #39 "Use proper encoding for displayed payload"
STR:

1) Load socket.io
2) Select the WebSocket panel
3) Wait for some messages (CONTINUATION)
4) Look at the `Payload`  side panel
5) Some messages use wrong encoding.

Honza

![encodind](https://cloud.githubusercontent.com/assets/37785/11420596/700df816-942f-11e5-8142-db90ae9006b5.png)

[2015-11-26 10:21] janodvarko commented on #39
I tried to convert the payload from unicode, bu no luck.

@fflorent @aliuk2012 any tips how to fix this?

Honza

[2015-11-26 10:34] janodvarko opened #40 "Display payload only size"
There should be two sizes displayed at the bottom of both views (table, chat)

* Total size of bytes transferred
* Pyload only size

Honza

[2015-12-03 07:10] #30 closed

[2015-12-03 07:14] janodvarko opened #41 "Clear the list of connections in the filter after reload"
The the list of WS connections in the filter should be cleared up after page reload.

Honza

[2015-12-03 16:54] eliihen commented on #41
I can have a look at this when I get the time. Not sure how to detect a page reload though, do you mind to point me in the right direction?

[2015-12-03 17:54] janodvarko commented on #41
Take a look at WsmPanel:
- There is a method `onTabNavigated`
- It's registered as a handler for "navigate" event in `onRready`
- It sends a "removeFrames" message to the content (to the iframe where all the ReactJS stuff is)
- The removeFrames message is handled by `WebSocketsView.removeFrames` method

You can rename the message and make it more generic (e.g. `tabNavigated`), and wire the logic r

[2015-12-03 18:15] eliihen commented on #41
Ah, I see. Thanks!

That makes sense, yeah. I'll have some time to work this weekend, so I'm sure we'll manage to work this out by the 17th :)

[2015-12-03 18:17] janodvarko commented on #41
Awesome!

[2016-02-07 15:39] codem4ster opened #43 "Utf-8 characters are corrupted"
In the message "Ãok YakÄ±nda BuradayÄ±z..." must be seen as "Çok Yakında Buradayız"

[2016-02-13 19:34] lebedev commented on #43
All cyrillic symbols are messed up as well ("Тестовая фраза на русском" shows as "Ð¢ÐµÑÑÐ¾Ð²Ð°Ñ ÑÑÐ°Ð·Ð° Ð½Ð° ÑÑÑÑÐºÐ¾Ð¼").
It would be great if this add-on support UTF-8.

[2016-02-13 23:04] lebedev commented on #37
There were some issues with `jpm sign` some time ago and I've encountered them myself, but to date it should work just fine. At least when I sign my unlisted add-on via `jpm sign` (actually, I sign it with

[code]

which is no big difference), it gets signed just fine.

[2016-02-16 15:42] janodvarko opened #45 "Net panel layout broken"
The net panel layout is broken, see the following screenshot:
http://cl.ly/0r1s162C1M2O

Honza

[2016-02-16 15:43] janodvarko opened #46 "Connected To label not visible in Dark theme"
Connected To label not visible in Dark theme:
http://cl.ly/1h3f0d1h2c0k

Honza

[2016-02-17 12:46] #45 closed

[2016-02-17 13:12] janodvarko commented on #46
Ah, already fixed by https://github.com/firebug/websocket-monitor/commit/0131d0b81777e7793765bc940048098f3d7cfccc

Honza

[2016-02-17 13:12] #46 closed

[2016-02-17 13:17] #41 closed

[2016-02-17 13:21] janodvarko commented on #41
Huh, this took me only 2 months to review :-)
Works for me, thanks!
Honza

[2016-02-17 13:28] #39 closed

[2016-02-17 13:28] #43 closed

[2016-02-17 15:17] janodvarko commented on #37
The addon is now available on AMO so, this is no longer a problem. Hope this is working for other addons.

Honza

[2016-02-17 15:17] #37 closed

[2016-02-17 19:12] eliihen commented on #41
Hehe, good thing we're not in a hurry :)

[2016-02-17 22:59] eliihen commented on #15
@janodvarko

So I had a stab at this. I first tried to figure out if there was any way to hook in a custom filter function to `NetMonitorView.RequestsMenu`, but after trying for a while and looking through the source code of FF @ netmonitor-view.js, especially `get _filterPredicate`, it does not look like this is possible. Feel free to correct me if I am wrong.

Then i tried a different approach.

[2016-02-21 09:32] MoLow opened #50 "websocket panel blank"
hey,
first of all - the test page (http://janodvarko.cz/test/websockets/) works perfectly.
in a site I am developing, the websocket panel is just blank.
My socket is using wss (secure websocket), and I tried canceling it, but that did not resolve the issue.
My socket is also not using a standard port, may that be the issue?
I also thought that different domains in the client and the socket could b

[2016-02-21 12:00] MoLow commented on #50
started working. have no idea what happed :)

[2016-02-21 12:00] #50 closed

[2016-02-21 13:16] eliihen commented on #50
Hi, thanks for posting. If it happens again, please do the following:
- Open the browser console (Ctrl+Shift+J)
- Close (if open) and re-open devtools in the browser (F12)
- Clear the browser console
- Click `Web Sockets` in devtools
- Post any errors in the browser console to a new issue.

[2016-02-23 10:22] janodvarko commented on #15
Yes, I can do it. Please file a bug in bugzilla and attach your patch..

Honza

[2016-02-25 17:48] esphen opened #51 "Make links in previews clickable"
# What
This is feature request to make link strings be rendered as clickable links that open in new tabs. This mainly refers to the details side panel, but could also refer to links rendered in the inline previews (#5).

# Why
When we work with web sockets at work, we often send metadata relating to the connection in meta frames to the client. These meta frames sometimes contain URLs with more det

[2016-02-26 23:14] eliihen commented on #15
@janodvarko I submitted a patch at https://bugzilla.mozilla.org/show_bug.cgi?id=1251767

I decided to simply implement the button and filter directly in network-monitor, as this seems to be the most sane approach. We can then decorate these requests as we have been doing, but leave the filtering up to the network monitor itself.

[2016-03-01 17:50] #5 closed

[2016-03-01 18:04] twidi opened #52 "Empty pannel in nightly since 2016-02-29"
HI

I'm a user of your wonderful extension. But since the 2016-02-29, the pannel is empty.

I used mozregression to find the exact firefox version where it stopped working, and I came to this changeset: https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=5e0140b6d11821e0c2a2de25bc5431783f03380a&tochange=4972f77869de55becd41d6b726b25fca2f523232

I'm not able to help you with that, just wa

[2016-03-01 18:09] janodvarko commented on #52
I just did a new release 0.5.2
https://github.com/firebug/websocket-monitor/releases/tag/websocketmonitor-0.5.2

Does it fix the issue?

Honza

[2016-03-02 13:56] twidi commented on #52
Yes it works, thanks a lot

[2016-03-02 13:56] #52 closed

[2016-03-02 13:57] janodvarko commented on #52
Awesome, thanks for the update.
Honza

[2016-03-04 14:30] janodvarko commented on #51
I like the idea.

The hard part will be the tree customization. Long strings are often cropped (using ... in the middle) and I think that we should keep it while changing span to a.

E.g. the following could stay as is but change to a link. But, there might be a tooltip...
"https://pbs.twimg.com/pr...324/KPfj7uLv_normal.jpg""

What do you think?

Honza

[2016-03-04 14:31] janodvarko commented on #15
Excellent, I'll take a look at the Bugzilla bug and review it.

Honza

[2016-03-04 14:44] janodvarko opened #53 "Show only user payload"
It could be useful if the inline payload preview shows only actual user data. So, in case of Socket IO it would show only the 'data' field. I believe (according to a feedback I've got) that dev folks are mostly interested in the real data they are sending over the wire (not in the garbage appended by Socket IO)

This would require specific support for every protocol. But perhaps we can start with

[2016-03-04 14:44] janodvarko commented on #53
@esphen what do you think?

Honza

[2016-03-04 14:48] janodvarko opened #54 "Filter frames"
Another feedback I've got says that it would be useful to filter the frame list and display only those that represents actual user messages. This would make easier to follow e.g. Socket IO traffic, which is constantly sending ping/pong frames.

Honza

[2016-03-04 14:49] janodvarko commented on #54
@esphen What do you think?

Honza

[2016-03-04 20:05] eliihen commented on #53
@janodvarko

Sure, let's start with Socket.IO.

I haven't really worked much with Socket.IO, but if that is the case, then I totally agree. We should only show the info people are interested in in the inline previews. Especially since it should be really easy to peruse the list for the frame you are interested in. But I think we should still show the entire message in the sidebar, as some people m

[2016-03-04 20:26] eliihen commented on #51
@janodvarko

Yeah, indeed, keep the crop, that's a good feature. We need to make sure it's a working link though, not what you pasted above :)

You have easy access to the full string though, right? If so, just change the tag to an `<a>` when we detect something like `/^https?:\/\/.*/`.

We probably can't use `href` though, as we are in the dev tools context. We probably need to use an `onClick` t

[2016-03-04 20:59] eliihen commented on #54
@janodvarko

Yeah, it's been annoying me at work too. We send `ping` and `pong` frames once every 30 sec or so, even though we don't use Socket.IO :)

I think in some circumstances it would be useful to see the ping frames, i.e. when you're implementing the ping functionality. So we could say that the user can enable the ping frames with a pref in the addons panel.

What do ping frames in the diff

[2016-03-07 18:01] janodvarko commented on #54
Definitely. I wasn't thinking about hiding these frames entirely, but rather provide a UI that allows the user to do that if wanted.

Of course, there can be many 'ping' messages, protocol based or custom like you have...

It's currently possible to filter frames using search box in the toolbar. Fox example, if you type `tweet` into it, only frames with `tweat` string in the payload will be displa

[2016-03-07 19:23] eliihen commented on #54
@janodvarko

Netmonitor uses something like this. They have a `-` syntax where you can write `-ping` to get anything that does not contain `ping`. We could do that to stay consistent with our sibling tools.

Yes, they got a brief introduction [here](https://wiki.wireshark.org/DisplayFilters). They use `==` with values on fields to confer equality, `!` to negate expressions, and have predefined pro

[2016-03-29 08:22] tuukka commented on #33
I'm trying to debug MQTT over WebSockets but only some initial handshake is visible: one binary frame sent, one binary frame received, although there's a constant flow of messages. Here's my test page: http://dev.hsl.fi/mqtt/browser/

[2016-03-29 13:13] janodvarko commented on #33
@tuukka:

Here is a test build with patch included, does it help?
http://softwareishard.com/temp/websocketmonitor/websocketmonitor-0.5.3issue33.xpi

Honza

[2016-03-29 13:24] tuukka commented on #33
@janodvarko I don't see any change (Firefox 45.0 on Ubuntu) :-(

[2016-03-29 13:45] janodvarko commented on #33
@tuukka: ah, sorry, I forgot to include the patch in the build, here is a new version:
http://softwareishard.com/temp/websocketmonitor/websocketmonitor-0.5.3issue33-2.xpi

Honza

[2016-03-29 16:00] tuukka commented on #33
@janodvarko Thanks, that did the trick!

[2016-03-30 08:17] tuukka commented on #33
I also compared the output to the websocket frame view in Chromium, and they match.

[2016-03-30 08:52] tuukka opened #56 "Support the MQTT over Websocket subprotocol"
MQTT over Websocket is sent as binary data frames (OASIS and ISO standardised): http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718127

It would be nice to decode and display these based on the MQTT packet types: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718018

Would this be a suitable protocol parser? https://www.npmjs.com/package/mqtt-pa

[2016-03-30 09:49] janodvarko commented on #33
Thanks for the verification!
Honza

[2016-03-30 09:49] #33 closed

[2016-03-30 10:26] janodvarko commented on #56
I like that idea.

@esphen: do you want to take a look at this?

Honza

[2016-03-30 10:40] eliihen commented on #56
@janodvarko

Sure thing. I may have some free time this weekend. If so, I'll look at it then.

[2016-03-30 11:35] janodvarko commented on #56
Awesome!

[2016-04-01 21:17] eliihen commented on #56
All right, I've had a look at it today, and here are my initial findings.

`mqtt-packet` looks nice, but it has dependencies on some node.js stuff, which means we can't simply use it in the browser. I tried to hack it to work, but to no avail. We would have to rewrite `mqtt-packet` to work in the browser, which seems like a bit of work.

Another option is to find some other parser utility that sup

[2016-04-01 22:03] tuukka commented on #56
@esphen mqtt-packet is one part of MQTT.js! As MQTT.js works in the browser via browserify or webpack, I'd expect standalone mqtt-packet to work as well. I haven't tested this scenario though.

[2016-04-03 08:04] tuukka commented on #56
@esphen Glad to hear at at mqttjs/mqtt-packet#11 that you got browserify working. I had a look at your branch for this issue - exciting times :-) The browser hangs with 100% CPU after 500 messages or so, tested at http://dev.hsl.fi/mqtt/browser. The packet type is often shown wrong (e.g. "publish" shown as "connack" - async issue?), tested with a filtered down GUI version of the previous MQTT feed

[2016-04-03 14:23] eliihen commented on #56
@tuukka

Awesome that you tested the branch, that's just what we need :)

Yeah, I noticed the slowdown and occasional locking as well, quite annoying. That's why I didn't send a PR quite yet. In contrast with the other protocol parsers we are using, `mqtt-packet` works async, and sends an event when it is done parsing. This first commit tries to make it work synchronously, but I think that may be

[2016-04-04 19:55] eliihen commented on #56
@tuukka stepped in with a great pull request and seemingly nailed the performance problem I was having. Good job, mate.

As I understand it, you would like to have the MQTT payload buffer decoded as well before we finish up this patch. I'll have a look into that on wednesday, don't think I have time before then. Unless you would like to have a go at another patch, @tukka?

[2016-04-10 13:18] #56 closed

[2016-04-11 06:22] janodvarko commented on #56
@tuukka @esphen

New 0.6.0 version including MQTT support released and uploaded to AMO (awaiting full review), thank you guys!

@tuukka  list of contributors updated :)

@esphen I am assigning the bug to you if that's ok

Honza

[2016-05-23 10:06] janodvarko opened #59 "Integrate eslint"
We should integrate eslint with WebSocket Monitor.

One of the long term goals is integrating WebSocket Monitor directly into Firefox DevTools and so, we might want to use the existing .eslintrc [1] so, the code is compatible and future merge is easier.

Honza

[1] https://github.com/mozilla/gecko-dev/blob/fx-team/devtools/.eslintrc

[2016-05-23 10:15] eliihen commented on #59
I can have a look at this later today as well

[2016-05-23 10:16] janodvarko commented on #59
Sounds great!

[2016-06-06 16:44] jryans opened #61 "TypeError: Rdp.registerTabActor(...) is undefined"
With WebSocket Monitor 0.6.2 and Nightly 2016-06-06, I get the following:

[code]

and the panel does not load.

[2016-06-06 18:02] janodvarko commented on #61
The fix goes to firebug.sdk
https://github.com/firebug/firebug.sdk/commit/bd43add69503dd8b421f8768b2d048bae9642271

(new module path for ActorRegistryFront)

Will be fixed in WebSocket Monitor 0.6.3

Honza

[2016-06-06 18:02] #61 closed

[2016-06-06 18:13] janodvarko commented on #61
0.6.3 is on AMO (waiting for review ;-)

Please let me know if the problem is fixed for you now.

Honza

[2016-06-06 18:39] jryans commented on #61
Great, that seems to fix it. Review approved on AMO.

[2016-06-06 18:47] janodvarko commented on #61
Thanks!

[2016-06-06 19:28] eliihen commented on #59
@janodvarko

So I just went through a ton of ESLint warnings and pretty much cleared up the whole lot. I need to get my code fix before I leave on vacation tomorrow :)

Now, there is one error left, which I figured you could get the honours of fixing. Have a look [here](https://travis-ci.org/firebug/websocket-monitor/builds/135680405). I could not get the function to fire, so I was not sure if thi

[2016-06-07 07:26] janodvarko commented on #59
Fixed at:
https://github.com/firebug/websocket-monitor/commit/2021aa68929b5e98f0f0392c883bfd69dca21e03
(the function is removed)

It's fine, I would do the same.

Great job here, have a nice vacation!

Honza

[2016-06-07 07:26] #59 closed

[2016-07-18 14:56] nthibert opened #63 "No Web Socket toolbox"
I installed the extension, but when I open up the debugger window, there is no web socket toolbox. FF version is 47.0.1.
![ff-websocket-monitorpng](https://cloud.githubusercontent.com/assets/4306927/16919076/4e303aaa-4cd6-11e6-8828-2be7963a6b77.png)

[2016-07-18 14:58] nthibert commented on #63
I'm an idiot. I was using firebug. Thought it would be there. But it's in the actual FF debugger.

[2016-07-18 14:58] #63 closed

[2016-08-05 12:48] braytak opened #64 "Add-on signing"
*Using Firefox 45+ requires add-ons to be signed.*

I know there is a way to counter that requirement, but any idea of if/when a signed version of this great add-on will be available?

Tks.

[2016-08-05 13:13] eliihen commented on #64
It's here

https://addons.mozilla.org/en-US/firefox/addon/websocket-monitor/

[2016-08-06 09:52] #64 closed

[2016-08-06 09:54] eliihen commented on #15
This is now in FF proper, closing

[2016-08-06 09:54] #15 closed

[2016-08-08 10:51] janodvarko commented on #22
Note: this has also been requested on AMO
https://addons.mozilla.org/en-US/firefox/addon/websocket-monitor/reviews/792210/

Honza

[2016-09-21 09:44] mesteche opened #65 "side panel not resizable"
Depending on the socket ID i am monitoring, the side panel (details/payload) is not resizable (and it's default size is ridiculous) :
![image](https://cloud.githubusercontent.com/assets/3534244/18705901/1e0597a6-7ff0-11e6-90c1-c1a018f58cc8.png)
My guess is that it's because I have a "Connected to:" line that is just too long. It's the most noticeable difference between the two Socket IDs.
here is

[2016-09-21 09:57] eliihen commented on #65
It seems your hypothesis is correct, I am able to reproduce this by going to https://www.websocket.org/echo.html and subscribing to a URL with a very long search.

Thanks for the report, I can have a look at fixing this when I have time

[2016-09-23 23:17] eliihen commented on #65
Okay, I've pushed c16357e upstream and it looks good from here. Tested in dev-ed and nightly. @janodvarko, would you like to create a release and submit a new version to AMO?

[2016-09-27 10:32] janodvarko commented on #65
Done, thanks for the patch!

WebSocket Monitor 0.6.4 XPI available for download:
https://github.com/firebug/websocket-monitor/releases

... and also awaiting full review on AMO:
https://addons.mozilla.org/en-US/firefox/addon/websocket-monitor/

Honza

[2016-09-27 10:32] #65 closed

[2016-11-24 17:37] fourslashw opened #66 "Incorrect encoding for cyrillic symbols"
When I trying to debug socket.io events addon shows event data in incorrect encoding
[code]

[2016-11-25 08:11] eliihen commented on #66
Hi,

Thanks for reporting. As you may have guessed, we don't use cyrillic much, so we're always happy to have people who do test the extension and report bugs :)

I'll have a look at this when I have time, which probably is either today or sometime next week. Stay tuned!

[2016-11-26 21:21] eliihen commented on #66
I can see that [where we receive frames](https://github.com/firebug/websocket-monitor/blob/master/data/view.js#L104) the received frame needs to be utf8 decoded twice in order to get a meaningful string.

@janodvarko is this a bug in the API or do we need to decode the frame twice for some reason?

STR:
1. Place this line at the beginning of frameReceived in view.js `console.log(decodeURIComponent

[2017-01-05 20:22] tdhsmith opened #68 "Falsy JSON values appear as quoted empty strings"
Expanding JSON payloads or inspecting them in the JSON tab seems to wreck JS falsy values (notably `0` and `null`) and display them as quoted empty strings (`""`).

For example, observe how the `objectId` and `alert` properties change as the tree is expanded:
![screen shot 2017-01-05 at 2 10 40 pm](https://cloud.githubusercontent.com/assets/1791252/21695811/ee5e4c50-d350-11e6-8860-05ee130df881.png

[2017-01-05 20:32] eliihen commented on #68
Hey, good catch. I can reproduce on http://janodvarko.cz/test/websockets/ by sending `{"a":0}`

Yep, the `TreeView` behavior is from the [Firebug SDK][0], so you should open a bug over there. When it is fixed in the SDK we can bump the version of the version in Websocket Monitor

[0]: https://github.com/firebug/firebug.sdk

[2017-01-05 20:44] eliihen commented on #68
Wait. It turns out this was fixed a while ago https://github.com/firebug/firebug.sdk/pull/20, but no new version was released! I'll make an issue to see if we can get it bumped

[2017-01-05 21:41] tdhsmith commented on #68
Awesome thanks for the fast response!

[2017-01-06 13:10] jonathanKingston opened #69 "Consider support for debugging chrome/web extensions"
Currently there isn't support for this addon in the 'Browser Toolbox' or when using about:debugging for a WebExtension.

This makes debugging any WebExtension that uses sockets very hard to debug within Firefox.

[2017-01-06 13:16] janodvarko commented on #69
Do you have an example WebExtension that uses sockets?

Honza

[2017-01-06 13:21] jonathanKingston commented on #69
The one I was trying to debug was this patch:
  https://github.com/jonathanKingston/Signal-Desktop/commit/de9507963d8470f16f7d2aeda5ddfc7508573ff8

To run the extension clone my version of the repo in the branch firefox-extension. Then load in about:debugging.

You can see where I was manually using console.logs to try and check before the data is sent over the sockets. Having an idea of what mess

[2017-01-06 17:01] janodvarko commented on #69
@esphen Any tips who we could solve this?

Honza

[2017-01-06 20:25] tdhsmith opened #70 "opcodes are incorrect"
My connections seem to have incorrectly flagged opcodes/frame types. All of the outgoing frames are marked TEXT (opcode `0x1`) and all the incoming frames are marked CONTINUATION (opcode `0x0`), regardless of ground truth.

Here are the same 4 frames, shown first in the socket monitor and then in wireshark:
![screen shot 2017-01-06 at 2 09 57 pm](https://cloud.githubusercontent.com/assets/1791252/

[2017-01-06 20:32] tdhsmith commented on #70
Actually I'm just realizing the inaccuracies are a bit larger than that:

- all frames are marked as having maskBit=true when they aren't (in my case messages from the server are being sent unmasked)
- disconnect frame is displayed as raw text with the reason code appended to the front. For example `ëonly text frames are supported`, where the gibberish `0x03eb` on the front should be parsed as re

[2017-01-06 21:25] eliihen commented on #70
Yeah, the entire frame, including the metadata like opcode, comes from the Firefox API we're using to read websockets. We pretty much only [map that to a string][1]. I can't really give any info on the Firefox API because I haven't been that deep.

Let's try pinging @bakulf, he seems knowledgeable on the matter.

[1]: https://github.com/firebug/websocket-monitor/blob/7af89f2708f50c6e8196745033363e

[2017-01-07 14:00] eliihen commented on #69
Ooh, signal being developed for Firefox? Sweet, I've been waiting for that.

I definitely agree that this would be a pretty useful feature, so I looked into this. In my limited research, I couldn't find any devtools extensions that were present in the Browser Toolbox, only in the F12 developer tools.

The way I see it is there are two ways forward:

1. Figure out if Firefox supports devtools exten

[2017-01-12 14:31] bakulf commented on #70
Can I have a testcase? I would like to test it locally. @esphen, thanks.

[2017-01-13 17:39] tgkprog opened #71 "Log Http also"
If I could ask for one feature, it would be to have a check box on the preferences tab "Log Http also". When checked regular Http get, post ... would be logged to. That way I can see the sequence of all network activity of a tab in one place. Thank you for making this open source.

[2017-01-13 18:08] eliihen commented on #71
Hi tgkprog, thanks for dropping by.

I'm sorry, I feel this is outside the scope of this extension. We already have the excellent network monitor in the devtools, why reinvent the wheel?

[2017-01-13 18:08] #71 closed

[2017-01-16 05:03] tgkprog opened #72 "Option to log all Http/ all network also"
Feature request:
Have a check box on the preferences tab "Log Http also"/ All TCP/IP. When checked regular Http get, post ... would be logged to. That way I can see the sequence of all network activity of a tab in one place.

[2017-01-16 07:30] janodvarko commented on #72
So, merging HTTP requests displayed in the Network panel together with WS frames displayed in the Web Sockets panel - into one list (sorted by time) would be what you are suggesting, correct?

(btw. I don't think that it's possible to intercept raw low-level TCP/IP traffic using Firefox API).

Honza

[2017-01-18 17:49] tdhsmith commented on #70
Here's a quick demonstration server in NodeJS, if that helps. Sorry for the messy code; threw it together on lunch break.

https://gist.github.com/tdhsmith/8e71aba02c684f549cdec05761e6e87b

You'll need to install `ws` first. Run the server with `node server.js` then browse to http://localhost:3000/ and the browser and client will each send a variety of frame types.

Here's what I see:

## Server
[

[2017-02-01 09:48] gsdaemon commented on #54
Would be just nice to have an option in the settings for hiding ping-pong requests

[2017-02-02 17:42] stof opened #73 "e10s support"
Does this plugin supports e10s ? https://arewee10syet.com/ marks it as unknown

[2017-02-02 18:12] eliihen commented on #73
It does.
I'll add the `multiprocess` permission to the `package.json` file to flag it as compatible

[2017-02-02 18:16] #73 closed

[2017-02-03 12:36] janodvarko commented on #54
I like the idea

Also agree

Commas sounds good to me.

I also like the screenshot (with popup box). We can do it in a second step (also such UI could be reused in the Net panel).

Honza

[2017-03-02 13:14] stof commented on #73
@esphen any chance to get a release containing the flag ?

[2017-03-02 13:21] eliihen commented on #73
Ping @janodvarko

[2017-03-02 14:08] janodvarko commented on #73
Done

New release 0.6.5 available (waiting for AMO review)

Honza

[2017-03-03 06:20] janodvarko commented on #73
0.6.5 has passed AMO review

[2017-03-03 10:22] stof commented on #73
thanks. I'm now enjoying the e10s mode.

[2017-03-20 10:29] jsjc opened #74 "Save Payload as file"
Create a way to save payload as file, so in binary payloads can be externally manipulated either to deflate or for other debugging purposes.

[2017-03-22 03:10] janodvarko commented on #74
We could implement a context menu for the list of frames and introduce "Save Payload" action that would save payload of the selected (clicked) frame. Or there could be an action (button) directly in the "Payload" side panel.

@esphen: what do you think? Interested in this one? It would be very useful!

Honza

[2017-03-22 08:09] eliihen commented on #74
Not gonna argue with that

Sure, I can have a look at it. I'm in the middle of moving apartments, however, so no guarantees on when I get time to do so

[2017-05-08 10:06] jonathanKingston opened #75 "Legacy extension"
As this extension is currently using SDK code that will be blocked in 57, will this be workable after 57?

In #69 it was discussed if this would merge with devtools itself however I don't know if that will happen.

[2017-05-08 10:07] jonathanKingston commented on #69
To clarify, the Signal work was me mostly messing about and I wasn't able to debug everything to put in a patch to them.

I opened #75 to discuss the lifetime of this extension.

[2017-05-08 19:28] dts350z opened #76 "websocket option doesn't show up in Firebug 2.0.19 Firefox 53.0.2 32bit on windows 7 64 bit"
Shows as installed but nothing is visible in firebug (despite restarts, reload, etc.)

also tried the "test page"

[2017-06-06 00:09] davidrenne opened #77 "Emptry string as bools"
![screenshot 2017-06-05 20 06 01](https://cloud.githubusercontent.com/assets/117254/26808442/bc7fc28a-4a2a-11e7-815f-5e47173bb664.png)

Is this a bug?

I am new to this plugin, but I have two bools here, but they show up on the display as a double quoted empty string.

[2017-06-06 00:09] davidrenne commented on #77
I expand out as a dummy end user, but I would expect that since the raw node shows up as false and false that I would see not a string, but a bool!

[2017-06-12 11:34] heycpp opened #78 "How to use geckofx45 to monitor websocket requests and responses"
NsIWebSocketListener ,nsIWebSocketChannel How to use them? Grateful!

[2017-06-12 13:53] heycpp commented on #76
see  dev tools

[2017-07-28 20:42] CamJN commented on #75
Any word on this?

[2017-07-28 21:21] eliihen commented on #75
To make the conversion to the WebExtension API happen, we need to rewrite the files in the `lib` directory. Not sure if we need to touch anything in the `data` directory, but a quick search seems like it is unaffected.

[code]

- [See: manifest devtools_page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/devtools_page)
- [See: Extending the developer tools](https://develo

[2017-07-29 20:28] eliihen commented on #75
Whelp, firebug.sdk, **the** core dependency of the view layer doesn't work with WebExtensions. Nor can I really see how it could in any reasonable amount of time.

@janodvarko Guess that means websocket-monitor requires a complete ground-up rewrite. Agree?

[2017-08-01 12:47] eliihen commented on #75
I inquired a bit about this, and it does require an extension to the WebExtension API in order to provide the WebSocket Monitor as a WebExtension: https://bugzilla.mozilla.org/show_bug.cgi?id=1373639#c6

Honza played around with this a few months ago, the repo is here: https://github.com/janodvarko/webext-websocket-monitor

[2017-09-05 19:00] JAicewizard opened #79 "non legacy support?"
Since Firefox 57 is getting closer, are you guys working on a non legacy version for Firefox of this extension?

[2017-09-06 06:14] eliihen commented on #79
Hey,

There is https://github.com/janodvarko/webext-websocket-monitor, but @janodvarko has been awfully quiet lately

[2017-09-16 18:48] Shokoyo opened #80 "Web Console won't reopen"
When I open the web console, switch to the Web Socket tab at least once and close it, it does not reopen on that tab. Strg-Shit-K throws an error on the Browser Console:
`TypeError: panel is undefined[Learn More] definitions.js:122:5`
I am using Waterfox version 54.0.1

[2017-09-23 23:24] j4rd44 commented on #76
Press F12 and there is no Websocket Monitor tab.
If you mean another "dev tools", please, let us know.
Firefox 52.3.0 64bit linux

[2017-09-25 17:59] rhessinger commented on #75
Any update on this?  The new version of Firefox Developer Edition 57+ will not allow this extension.

[2017-09-25 19:01] eliihen commented on #75
Not that I know - @janodvarko has not yet reached out

[2017-09-26 12:25] janodvarko commented on #75
Yes, complete rewrite needed. I already started with a prototyping here:
https://github.com/janodvarko/webext-websocket-monitor
To see how to get the backend WS API.

I am planning to work on this more in Q4 2017

Honza

[2017-09-26 12:28] eliihen commented on #75
@janodvarko I would love to help out with the rewrite! I tried to get the prototype running, but was unable to make it work, see https://github.com/janodvarko/webext-websocket-monitor/issues/2

[2017-09-26 12:37] janodvarko commented on #75
Awesome, I'll get back to this ASAP and I'll keep you in the loop!

Honza

[2017-10-12 14:37] Reves-De-Gosse commented on #74
What would be perfect for me is to copy on option ALL the frames opened in one file, or copied in the Clipboard, in order to extract by program the information we need.
Thanks, your add-on is extremely useful and well build.

[2017-10-12 19:11] stodge opened #81 ""Maximum entries displayed" not being honoured"
I have configured the plugin to show 500 "Maximum entries displayed" except it will never show more than ten in the display. Is there a "timeout" for when it removes a frame from the display? There may be a delay of a second or so between messages from my websocket server. Thanks

[2017-10-12 19:49] stodge commented on #81
I think there must be a TTL for a frame that is displayed. If I use the plugin on a websocket with frequent traffic (2 or 3 messages/second) then it does seem to honour the setting. On a low traffic websocket it seems to remove frames from the display too quickly. I changed the title accordingly.

[2017-11-15 13:59] braytak opened #82 "Monitor 0.6.5 marked as "legacy extension" in Firefox Quantum"
@janodvarko

In case you were not yet aware of this...

Additional info:
  - Extension activation was in "auto" mode.
  - Enabling it did not change anything.

[2017-11-15 14:01] eliihen commented on #82
Hi!

We are aware of this, and this is currently tracked in #75.

[2017-11-15 14:01] #82 closed

[2017-11-15 16:00] leapingbytes opened #83 "Is it possible to make WS Monitor Quantum Compatible?"
As of now, the plugin marked as in-compatible with FF 57.0 Quantum.

[2017-11-15 16:24] eliihen commented on #83
Hi!

Not currently - this requires a ground-up rewrite. It is tracked in #75, look there for updates

[2017-11-15 16:24] #83 closed

[2017-11-15 16:25] eliihen commented on #79
Closing this in favor of #75

[2017-11-15 16:25] #79 closed

[2017-11-15 17:16] leapingbytes commented on #83
tyvm

[2017-11-22 16:56] Croydon commented on #75
Users are asking about his now since we are past the FF57 release. Any updates?

[2017-11-23 12:48] janodvarko commented on #75
Sorry, no progress so far, might move to Q1 2018

But, the extension has priority and is being on top of our todo list!

Honza

[2017-11-30 10:36] XaviTorello commented on #75
@janodvarko is there any planning to perform the refactor? I would contribute if possible

[2017-11-30 11:56] janodvarko commented on #75
Excellent, I'll ping you as soon as the work starts on this (probably Q1/2018)

Honza

[2017-11-30 13:44] XaviTorello commented on #75
Perfect, keep in touch about this

[2018-01-12 08:51] TriMoon commented on #75
Sorry, no progress so far, might move to Q1 2018

Any update on the efforts is welcome 😜

[2018-03-15 21:08] luislobo commented on #75
Hi, Is there anything we can do to contribute? Q1 is almost gone.. :alarm_clock:

[2018-03-16 07:13] janodvarko commented on #75
Hi,
yes sorry, this needs more time. But, I am already working on documentation (list of requirements) and I'll make sure this thread will be updated when the implementation starts!

Honza

[2018-03-20 14:42] luislobo commented on #75
@janodvarko thank you!

[2018-05-23 16:34] leus commented on #75
Are there any updates on this matter?

[2018-05-24 09:06] janodvarko commented on #75
Update:
According to the latest DevTools team planning - work on the rewrite should happen later this year (end of Q3)
Honza

[2018-08-12 04:13] EnziinSystem opened #84 "Not compatible with Firefox Quantum"
Not compatible with Firefox Quantum 61.0.2 (64-bit).

Thanks.

[2018-08-12 19:33] dequis commented on #84
Duplicate of #75

(I have no idea why i'm watching the whole repo, I'm only here for that issue)